  <ngx-spinner type="ball-scale-multiple"></ngx-spinner>
  <form [formGroup] = "COACTVW_CACTVWA_FORM">
	 <div id='screenarea'>
		<div>
			<div id="logo" onclick="switchStyle()" title="Switch look&feel"></div>
			<div id="title">
				<h2>N.I.B. 3270 to Angular demo</h2>
			</div>
		</div>
		<div id='floatfix'>
		   <div id='screenimage'>
              <pre class='line1 col1 len5 bluefg norm'>Tran:</pre>
              <input appNoTabByClass id='TRNNAME' name='TRNNAME' formControlName='TRNNAME' autocorrect="off" spellcheck="false" autocomplete="off" class='mapfield-prot line1 col7 len4 bluefg norm' type='text' size='4' maxlength='4' (focus)="setFocusField('TRNNAME')" (focusout)="unsetFocusField('TRNNAME')" value=''>
              <input appNoTabByClass id='TITLE01' name='TITLE01' formControlName='TITLE01' autocorrect="off" spellcheck="false" autocomplete="off" class='mapfield-prot line1 col21 len40 yellowfg norm' type='text' size='40' maxlength='40' (focus)="setFocusField('TITLE01')" (focusout)="unsetFocusField('TITLE01')" value=''>
              <pre class='line1 col65 len5 bluefg norm'>Date:</pre>
              <input appNoTabByClass id='CURDATE' name='CURDATE' formControlName='CURDATE' autocorrect="off" spellcheck="false" autocomplete="off" class='mapfield-prot line1 col71 len8 bluefg norm' type='text' size='8' maxlength='8' (focus)="setFocusField('CURDATE')" (focusout)="unsetFocusField('CURDATE')" value='mm/dd/yy'>
              <pre class='line2 col1 len5 bluefg norm'>Prog:</pre>
              <input appNoTabByClass id='PGMNAME' name='PGMNAME' formControlName='PGMNAME' autocorrect="off" spellcheck="false" autocomplete="off" class='mapfield-prot line2 col7 len8 bluefg norm' type='text' size='8' maxlength='8' (focus)="setFocusField('PGMNAME')" (focusout)="unsetFocusField('PGMNAME')" value=''>
              <input appNoTabByClass id='TITLE02' name='TITLE02' formControlName='TITLE02' autocorrect="off" spellcheck="false" autocomplete="off" class='mapfield-prot line2 col21 len40 yellowfg norm' type='text' size='40' maxlength='40' (focus)="setFocusField('TITLE02')" (focusout)="unsetFocusField('TITLE02')" value=''>
              <pre class='line2 col65 len5 bluefg norm'>Time:</pre>
              <input appNoTabByClass id='CURTIME' name='CURTIME' formControlName='CURTIME' autocorrect="off" spellcheck="false" autocomplete="off" class='mapfield-prot line2 col71 len8 bluefg norm' type='text' size='8' maxlength='8' (focus)="setFocusField('CURTIME')" (focusout)="unsetFocusField('CURTIME')" value='hh:mm:ss'>
              <pre class='line4 col33 len12 neutralfg'>View Account</pre>
              <pre class='line5 col19 len16 turquoisefg norm'>Account Number :</pre>
              <input appNoTabByClass id='ACCTSID' name='ACCTSID' formControlName='ACCTSID' autocorrect="off" spellcheck="false" autocomplete="off" class='mapfield line5 col38 len11 greenfg norm underline' type='text' size='11' maxlength='11' (focus)="setFocusField('ACCTSID')" (focusout)="unsetFocusField('ACCTSID')" value=''>
              <pre class='line5 col50 len0 defaultfg'></pre>
              <pre class='line5 col57 len12 turquoisefg'>Active Y/N: </pre>
              <input appNoTabByClass id='ACSTTUS' name='ACSTTUS' formControlName='ACSTTUS' autocorrect="off" spellcheck="false" autocomplete="off" class='mapfield-prot line5 col70 len1 defaultfg underline' type='text' size='1' maxlength='1' (focus)="setFocusField('ACSTTUS')" (focusout)="unsetFocusField('ACSTTUS')" value=''>
              <pre class='line5 col72 len0 defaultfg'></pre>
              <pre class='line6 col8 len7 turquoisefg'>Opened:</pre>
              <input appNoTabByClass id='ADTOPEN' name='ADTOPEN' formControlName='ADTOPEN' autocorrect="off" spellcheck="false" autocomplete="off" class='mapfield line6 col17 len10 defaultfg underline' type='text' size='10' maxlength='10' (focus)="setFocusField('ADTOPEN')" (focusout)="unsetFocusField('ADTOPEN')" value=''>
              <pre class='line6 col28 len0 defaultfg'></pre>
              <pre class='line6 col39 len21 turquoisefg norm'>Credit Limit        :</pre>
              <input appNoTabByClass id='ACRDLIM' name='ACRDLIM' formControlName='ACRDLIM' autocorrect="off" spellcheck="false" autocomplete="off" class='mapfield line6 col61 len15 defaultfg underline' type='text' size='15' maxlength='15' (focus)="setFocusField('ACRDLIM')" (focusout)="unsetFocusField('ACRDLIM')" value=''>
              <pre class='line6 col77 len0 defaultfg'></pre>
              <pre class='line7 col8 len7 turquoisefg'>Expiry:</pre>
              <input appNoTabByClass id='AEXPDT' name='AEXPDT' formControlName='AEXPDT' autocorrect="off" spellcheck="false" autocomplete="off" class='mapfield line7 col17 len10 defaultfg underline' type='text' size='10' maxlength='10' (focus)="setFocusField('AEXPDT')" (focusout)="unsetFocusField('AEXPDT')" value=''>
              <pre class='line7 col28 len0 defaultfg'></pre>
              <pre class='line7 col39 len21 turquoisefg norm'>Cash credit Limit   :</pre>
              <input appNoTabByClass id='ACSHLIM' name='ACSHLIM' formControlName='ACSHLIM' autocorrect="off" spellcheck="false" autocomplete="off" class='mapfield line7 col61 len15 defaultfg underline' type='text' size='15' maxlength='15' (focus)="setFocusField('ACSHLIM')" (focusout)="unsetFocusField('ACSHLIM')" value=''>
              <pre class='line7 col77 len0 defaultfg'></pre>
              <pre class='line8 col8 len8 turquoisefg'>Reissue:</pre>
              <input appNoTabByClass id='AREISDT' name='AREISDT' formControlName='AREISDT' autocorrect="off" spellcheck="false" autocomplete="off" class='mapfield line8 col17 len10 defaultfg underline' type='text' size='10' maxlength='10' (focus)="setFocusField('AREISDT')" (focusout)="unsetFocusField('AREISDT')" value=''>
              <pre class='line8 col28 len0 defaultfg'></pre>
              <pre class='line8 col39 len21 turquoisefg norm'>Current Balance     :</pre>
              <input appNoTabByClass id='ACURBAL' name='ACURBAL' formControlName='ACURBAL' autocorrect="off" spellcheck="false" autocomplete="off" class='mapfield line8 col61 len15 defaultfg underline' type='text' size='15' maxlength='15' (focus)="setFocusField('ACURBAL')" (focusout)="unsetFocusField('ACURBAL')" value=''>
              <pre class='line8 col77 len0 defaultfg'></pre>
              <pre class='line9 col39 len21 turquoisefg norm'>Current Cycle Credit:</pre>
              <input appNoTabByClass id='ACRCYCR' name='ACRCYCR' formControlName='ACRCYCR' autocorrect="off" spellcheck="false" autocomplete="off" class='mapfield line9 col61 len15 defaultfg underline' type='text' size='15' maxlength='15' (focus)="setFocusField('ACRCYCR')" (focusout)="unsetFocusField('ACRCYCR')" value=''>
              <pre class='line9 col77 len0 defaultfg'></pre>
              <pre class='line10 col8 len14 turquoisefg'>Account Group:</pre>
              <input appNoTabByClass id='AADDGRP' name='AADDGRP' formControlName='AADDGRP' autocorrect="off" spellcheck="false" autocomplete="off" class='mapfield line10 col23 len10 defaultfg underline' type='text' size='10' maxlength='10' (focus)="setFocusField('AADDGRP')" (focusout)="unsetFocusField('AADDGRP')" value=''>
              <pre class='line10 col34 len0 defaultfg'></pre>
              <pre class='line10 col39 len21 turquoisefg norm'>Current Cycle Debit :</pre>
              <input appNoTabByClass id='ACRCYDB' name='ACRCYDB' formControlName='ACRCYDB' autocorrect="off" spellcheck="false" autocomplete="off" class='mapfield line10 col61 len15 defaultfg underline' type='text' size='15' maxlength='15' (focus)="setFocusField('ACRCYDB')" (focusout)="unsetFocusField('ACRCYDB')" value=''>
              <pre class='line10 col77 len0 defaultfg'></pre>
              <pre class='line11 col32 len16 neutralfg'>Customer Details</pre>
              <pre class='line12 col8 len14 turquoisefg'>Customer id  :</pre>
              <input appNoTabByClass id='ACSTNUM' name='ACSTNUM' formControlName='ACSTNUM' autocorrect="off" spellcheck="false" autocomplete="off" class='mapfield line12 col23 len9 defaultfg underline' type='text' size='9' maxlength='9' (focus)="setFocusField('ACSTNUM')" (focusout)="unsetFocusField('ACSTNUM')" value=''>
              <pre class='line12 col33 len0 defaultfg'></pre>
              <pre class='line12 col49 len4 turquoisefg'>SSN:</pre>
              <input appNoTabByClass id='ACSTSSN' name='ACSTSSN' formControlName='ACSTSSN' autocorrect="off" spellcheck="false" autocomplete="off" class='mapfield line12 col54 len12 defaultfg underline' type='text' size='12' maxlength='12' (focus)="setFocusField('ACSTSSN')" (focusout)="unsetFocusField('ACSTSSN')" value=''>
              <pre class='line12 col67 len0 defaultfg'></pre>
              <pre class='line13 col8 len14 turquoisefg'>Date of birth:</pre>
              <input appNoTabByClass id='ACSTDOB' name='ACSTDOB' formControlName='ACSTDOB' autocorrect="off" spellcheck="false" autocomplete="off" class='mapfield line13 col23 len10 defaultfg underline' type='text' size='10' maxlength='10' (focus)="setFocusField('ACSTDOB')" (focusout)="unsetFocusField('ACSTDOB')" value=''>
              <pre class='line13 col34 len0 defaultfg'></pre>
              <pre class='line13 col49 len11 turquoisefg'>FICO Score:</pre>
              <input appNoTabByClass id='ACSTFCO' name='ACSTFCO' formControlName='ACSTFCO' autocorrect="off" spellcheck="false" autocomplete="off" class='mapfield line13 col61 len3 defaultfg underline' type='text' size='3' maxlength='3' (focus)="setFocusField('ACSTFCO')" (focusout)="unsetFocusField('ACSTFCO')" value=''>
              <pre class='line13 col65 len0 defaultfg'></pre>
              <pre class='line14 col1 len10 turquoisefg'>First Name</pre>
              <pre class='line14 col28 len13 turquoisefg'>Middle Name: </pre>
              <pre class='line14 col55 len12 turquoisefg'>Last Name : </pre>
              <input appNoTabByClass id='ACSFNAM' name='ACSFNAM' formControlName='ACSFNAM' autocorrect="off" spellcheck="false" autocomplete="off" class='mapfield line15 col1 len25 defaultfg underline' type='text' size='25' maxlength='25' (focus)="setFocusField('ACSFNAM')" (focusout)="unsetFocusField('ACSFNAM')" value=''>
              <pre class='line15 col27 len0 defaultfg'></pre>
              <input appNoTabByClass id='ACSMNAM' name='ACSMNAM' formControlName='ACSMNAM' autocorrect="off" spellcheck="false" autocomplete="off" class='mapfield line15 col28 len25 defaultfg underline' type='text' size='25' maxlength='25' (focus)="setFocusField('ACSMNAM')" (focusout)="unsetFocusField('ACSMNAM')" value=''>
              <pre class='line15 col54 len0 defaultfg'></pre>
              <input appNoTabByClass id='ACSLNAM' name='ACSLNAM' formControlName='ACSLNAM' autocorrect="off" spellcheck="false" autocomplete="off" class='mapfield line15 col55 len25 defaultfg underline' type='text' size='25' maxlength='25' (focus)="setFocusField('ACSLNAM')" (focusout)="unsetFocusField('ACSLNAM')" value=''>
              <pre class='line16 col1 len8 turquoisefg'>Address:</pre>
              <input appNoTabByClass id='ACSADL1' name='ACSADL1' formControlName='ACSADL1' autocorrect="off" spellcheck="false" autocomplete="off" class='mapfield line16 col10 len50 defaultfg underline' type='text' size='50' maxlength='50' (focus)="setFocusField('ACSADL1')" (focusout)="unsetFocusField('ACSADL1')" value=''>
              <pre class='line16 col61 len0 defaultfg'></pre>
              <pre class='line16 col63 len6 turquoisefg'>State </pre>
              <input appNoTabByClass id='ACSSTTE' name='ACSSTTE' formControlName='ACSSTTE' autocorrect="off" spellcheck="false" autocomplete="off" class='mapfield line16 col73 len2 defaultfg underline' type='text' size='2' maxlength='2' (focus)="setFocusField('ACSSTTE')" (focusout)="unsetFocusField('ACSSTTE')" value=''>
              <pre class='line16 col76 len0 defaultfg'></pre>
              <input appNoTabByClass id='ACSADL2' name='ACSADL2' formControlName='ACSADL2' autocorrect="off" spellcheck="false" autocomplete="off" class='mapfield line17 col10 len50 defaultfg underline' type='text' size='50' maxlength='50' (focus)="setFocusField('ACSADL2')" (focusout)="unsetFocusField('ACSADL2')" value=''>
              <pre class='line17 col61 len0 defaultfg'></pre>
              <pre class='line17 col63 len3 turquoisefg'>Zip</pre>
              <input appNoTabByClass id='ACSZIPC' name='ACSZIPC' formControlName='ACSZIPC' autocorrect="off" spellcheck="false" autocomplete="off" class='mapfield line17 col73 len5 defaultfg underline' type='text' size='5' maxlength='5' (focus)="setFocusField('ACSZIPC')" (focusout)="unsetFocusField('ACSZIPC')" value=''>
              <pre class='line17 col79 len0 defaultfg'></pre>
              <pre class='line18 col1 len5 turquoisefg'>City </pre>
              <input appNoTabByClass id='ACSCITY' name='ACSCITY' formControlName='ACSCITY' autocorrect="off" spellcheck="false" autocomplete="off" class='mapfield line18 col10 len50 defaultfg underline' type='text' size='50' maxlength='50' (focus)="setFocusField('ACSCITY')" (focusout)="unsetFocusField('ACSCITY')" value=''>
              <pre class='line18 col61 len0 defaultfg'></pre>
              <pre class='line18 col63 len7 turquoisefg'>Country</pre>
              <input appNoTabByClass id='ACSCTRY' name='ACSCTRY' formControlName='ACSCTRY' autocorrect="off" spellcheck="false" autocomplete="off" class='mapfield line18 col73 len3 defaultfg underline' type='text' size='3' maxlength='3' (focus)="setFocusField('ACSCTRY')" (focusout)="unsetFocusField('ACSCTRY')" value=''>
              <pre class='line18 col77 len0 defaultfg'></pre>
              <pre class='line19 col1 len8 turquoisefg'>Phone 1:</pre>
              <input appNoTabByClass id='ACSPHN1' name='ACSPHN1' formControlName='ACSPHN1' autocorrect="off" spellcheck="false" autocomplete="off" class='mapfield line19 col10 len13 defaultfg underline' type='text' size='13' maxlength='13' (focus)="setFocusField('ACSPHN1')" (focusout)="unsetFocusField('ACSPHN1')" value=''>
              <pre class='line19 col24 len30 turquoisefg'>Government Issued Id Ref    : </pre>
              <input appNoTabByClass id='ACSGOVT' name='ACSGOVT' formControlName='ACSGOVT' autocorrect="off" spellcheck="false" autocomplete="off" class='mapfield line19 col58 len20 defaultfg underline' type='text' size='20' maxlength='20' (focus)="setFocusField('ACSGOVT')" (focusout)="unsetFocusField('ACSGOVT')" value=''>
              <pre class='line19 col79 len0 defaultfg'></pre>
              <pre class='line20 col1 len8 turquoisefg'>Phone 2:</pre>
              <input appNoTabByClass id='ACSPHN2' name='ACSPHN2' formControlName='ACSPHN2' autocorrect="off" spellcheck="false" autocomplete="off" class='mapfield line20 col10 len13 defaultfg underline' type='text' size='13' maxlength='13' (focus)="setFocusField('ACSPHN2')" (focusout)="unsetFocusField('ACSPHN2')" value=''>
              <pre class='line20 col24 len16 turquoisefg'>EFT Account Id: </pre>
              <input appNoTabByClass id='ACSEFTC' name='ACSEFTC' formControlName='ACSEFTC' autocorrect="off" spellcheck="false" autocomplete="off" class='mapfield line20 col41 len10 defaultfg underline' type='text' size='10' maxlength='10' (focus)="setFocusField('ACSEFTC')" (focusout)="unsetFocusField('ACSEFTC')" value=''>
              <pre class='line20 col52 len0 defaultfg'></pre>
              <pre class='line20 col53 len24 turquoisefg'>Primary Card Holder Y/N:</pre>
              <input appNoTabByClass id='ACSPFLG' name='ACSPFLG' formControlName='ACSPFLG' autocorrect="off" spellcheck="false" autocomplete="off" class='mapfield line20 col78 len1 defaultfg underline' type='text' size='1' maxlength='1' (focus)="setFocusField('ACSPFLG')" (focusout)="unsetFocusField('ACSPFLG')" value=''>
              <pre class='line20 col80 len0 defaultfg'></pre>
              <input appNoTabByClass id='INFOMSG' name='INFOMSG' formControlName='INFOMSG' autocorrect="off" spellcheck="false" autocomplete="off" class='mapfield-prot line22 col23 len45 neutralfg' readonly  type='text' size='45' maxlength='45' (focus)="setFocusField('INFOMSG')" (focusout)="unsetFocusField('INFOMSG')" value=''>
              <pre class='line22 col69 len0 defaultfg'></pre>
              <pre class='line1 col1 len9 defaultfg'></pre>
              <input appNoTabByClass id='ERRMSG' name='ERRMSG' formControlName='ERRMSG' autocorrect="off" spellcheck="false" autocomplete="off" class='mapfield-prot line23 col1 len78 redfg brt' type='text' size='78' maxlength='78' (focus)="setFocusField('ERRMSG')" (focusout)="unsetFocusField('ERRMSG')" value=''>
              <pre class='line24 col1 len60 turquoisefg norm'>  F3=Exit </pre>
		   </div>
		</div>
		<div id='floatfix'>
		   <div id='buttonpanel'>
			  <input class='pkey f1' type='submit' (click)='sendKey("DFHPF1")' name='DFH_PF1' value='PF1'>
			  <input class='pkey f2' type='submit' (click)='sendKey("DFHPF2")' name='DFH_PF2' value='PF2'>
			  <input class='pkey f3' type='submit' (click)='sendKey("DFHPF3")' name='DFH_PF3' value='PF3'>
			  <input class='pkey f4' type='submit' (click)='sendKey("DFHPF4")' name='DFH_PF4' value='PF4'>
			  <input class='pkey f5' type='submit' (click)='sendKey("DFHPF5")' name='DFH_PF5' value='PF5'>
			  <input class='pkey f6' type='submit' (click)='sendKey("DFHPF6")' name='DFH_PF6' value='PF6'>
			  <input class='pkey f7' type='submit' (click)='sendKey("DFHPF7")' name='DFH_PF7' value='PF7'>
			  <input class='pkey f8' type='submit' (click)='sendKey("DFHPF8")' name='DFH_PF8' value='PF8'>
			  <input class='pkey f9' type='submit' (click)='sendKey("DFHPF9")' name='DFH_PF9' value='PF9'>
			  <input class='pkey f10' type='submit' (click)='sendKey("DFHPF10")' name='DFH_PF10' value='PF10'>
			  <input class='pkey f11' type='submit' (click)='sendKey("DFHPF11")' name='DFH_PF11' value='PF11'>
			  <input class='pkey f12' type='submit' (click)='sendKey("DFHPF12")' name='DFH_PF12' value='PF12'>
			  <input class='pkey f13' type='submit' (click)='sendKey("DFHPF13")' name='DFH_PF13' value='PF13'>
			  <input class='pkey f14' type='submit' (click)='sendKey("DFHPF14")' name='DFH_PF14' value='PF14'>
			  <input class='pkey f15' type='submit' (click)='sendKey("DFHPF15")' name='DFH_PF15' value='PF15'>
			  <input class='pkey f16' type='submit' (click)='sendKey("DFHPF16")' name='DFH_PF16' value='PF16'>
			  <input class='pkey f17' type='submit' (click)='sendKey("DFHPF17")' name='DFH_PF17' value='PF17'>
			  <input class='pkey f18' type='submit' (click)='sendKey("DFHPF18")' name='DFH_PF18' value='PF18'>
			  <input class='pkey f19' type='submit' (click)='sendKey("DFHPF19")' name='DFH_PF19' value='PF19'>
			  <input class='pkey f20' type='submit' (click)='sendKey("DFHPF20")' name='DFH_PF20' value='PF20'>
			  <input class='pkey f21' type='submit' (click)='sendKey("DFHPF21")' name='DFH_PF21' value='PF21'>
			  <input class='pkey f22' type='submit' (click)='sendKey("DFHPF22")' name='DFH_PF22' value='PF22'>
			  <input class='pkey f23' type='submit' (click)='sendKey("DFHPF23")' name='DFH_PF23' value='PF23'>
			  <input class='pkey f24' type='submit' (click)='sendKey("DFHPF24")' name='DFH_PF24' value='PF24'>
			  <input class='pkey a1' type='submit' (click)='sendKey("DFHPA1")' name='DFH_PA1' value='PA1'>
			  <input class='pkey a2' type='submit' (click)='sendKey("DFHPA2")' name='DFH_PA2' value='PA2'>
			  <input class='pkey a3' type='submit' (click)='sendKey("DFHPA3")' name='DFH_PA3' value='PA3'>
			  <input class='clearkey' type='submit' (click)='sendKey("DFHCLEAR")' name='DFH_CLEAR' value='Clear'>
			  <!--
			  <input class='resetkey' type='reset' value='Reset'>
			  -->
			  <input class='enterkey' type='submit' (click)='sendKey("DFHENTER")' name='DFH_ENTER' value='Enter'>
		   </div>
		</div>
	 </div>
	 <div id='connection_data'>
	    <br/>
	    <br/>
	    <br/>
	    <br/>
	    <pre id='termId' style='font-size: 10px;'></pre>
	    <pre id='sessionId' style='font-size: 10px;'></pre>
	 </div>
  </form>
