/* stylesheet for rendering BMS maps */
/*  mainframe style, black background, multi-color text  */


/* SANTIX - Screen background color */
:root {
	/* NIB style */ 
	--screen-background: #fafafa;
	--screen-forecolor: #404040;
}

#logo {
	background: url('../images/logo_nib.png') no-repeat;
	float: left;
	height: 61px;
	width: 113px;
}


h2 {
  color: white;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea.screenarea {
	position: relative;
	border-style: outset;
	/* SANTIX */
	background-color: white;
	color: #33b5e5;
	margin: 0px;
	padding: 0px;
	font-family: 'PT Mono', 'Courier New';
	font-size: 10pt;
	width: 49.2em;
	height: 21.4em;
	border-width: 1px;
	border-color: #33b5e5;
	resize: none;
}
